* {
  margin: 0;
  padding: 0;
}
html,
body,
#main {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
  color: #fff;
  background: #000;
  position: relative;
}
body #main {
  margin: 0 auto;
  text-align: center;
}
body #main img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
body #wtf {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  max-width: 50%;
}
body #wtf button,
body #wtf .info {
  float: right;
  color: #f2eeb7;
  border: 1px solid #f2eeb7;
  background: #1f0e00;
  padding: 1em;
  margin: 1em;
}
body #wtf #explanation {
  display: none;
}
body #wtf #explanation a {
  color: #fff;
}
body #wtf #explanation:visited {
  color: #fff;
}
body #wtf #explanation footer {
  font-size: 0.8em;
  margin-top: 1em;
}
